version: '2'

networks:
  auth:
    ipam:
      driver: default
      config:
        - subnet: 172.0.0.0/24
          gateway: 172.0.0.1

services:
  auth-service:
    build: .
    environment:
      JWT_SECRET: ${AUTH_JWT_SECRET}

      API_URL: ${AUTH_API_URL}

      SMTP_HOST: ${AUTH_SMTP_HOST}
      SMTP_PORT: ${AUTH_SMTP_PORT}
      SMTP_USER: ${AUTH_SMTP_USER}
      SMTP_PASSWORD: ${AUTH_SMTP_PASSWORD}
    restart: always
    networks:
      auth:
        ipv4_address: 172.0.0.10
    ports:
      - '8080'
    volumes:
      - ./data/pgsql:/var/lib/pgsql
