jwt:
  secret: g4t1V&7m9X3JA&zOkB71
  expiration: 86400

spring:
  datasource:
    url: jdbc:postgresql://172.0.0.10/${DB_NAME}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect