jwt:
  secret: g4t1V&7m9X3JA&zOkB71
  expiration: 86400

mail:
  address: ${SMTP_USER}
  subject: Welcome on WeAreFrancis!
  apiUrl: ${API_URL}

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          connectiontimeout: 15000
          timeout: 15000
          ssl:
            enable: true